* {
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
    width: 95%;
}

header h1 {
    text-align: center;
}






@media all and (min-width:700px) {
    form {
        text-align: left;
        margin-left: 50px;
    }
    .wrapper {
        width: 75%;
    }
}

